@charset "UTF-8";
body {
    font-family: "Meiryo", sans-serif;
    background: #ffffff;
}

/* 上部メニューバー */
.header-menu {
    display: flex;
    border: 2px solid #aaa;
    padding: 0;
    margin: 0;
    background: #f6f6d8;
}

.menu-item {
    padding: 10px 25px;
    border-right: 1px solid #999;
}

.menu-item.active {
    background: #fff;
    font-weight: bold;
}


.menu-button {
	padding: 10px 25px;
	    font-size: 18px;
}
/* タイトル */
.title {
    margin: 15px 20px 0 20px;
    font-size: 22px;
}

.path {
    margin-left: 22px;
    color: #555;
}

/* メインボックス */
.main-box {
    border: 2px solid #333;
    margin: 20px;
    padding: 25px;
    background: #fff;
}

/* セクションタイトル */
.section-title {
    font-size: 20px;
    margin-bottom: 15px;
}

/* ボタン配置 */
.btn-row {
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
}

.btn {
    padding: 10px 25px;
    font-size: 16px;
}

/* 戻るボタン */
.back-area {
    text-align: right;
    margin: 25px;
}

.back-btn {
    padding: 10px 25px;
    font-size: 18px;
}
